@using Controle_De_Estoque.Models;
@model List<Products>

@{
    ViewData["Title"] = "Lista de Produtos";
}
<h3 class="mb-4">📦 Controle de Estoque – Produtos</h3>

<div class="row mb-4">
    <div class="col-md-4">
        <form asp-controller="WooCommerce" asp-action="GetListProducts">
            <div class="input-group">
                <input type="text" name="name" class="form-control" placeholder="Buscar produto..." />
                <input type="number" name="product_count" class="form-control" placeholder="Quanto..." />
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header bg-success text-white">
        <h5 class="mb-0">Produtos e Variações</h5>
    </div>

    <div class="card-body p-0">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-secondary shadow">
                <tr>
                    <th style="width: 10%">ID</th>
                    <th>Nome</th>
                    <th style="width: 15%">Estoque</th>
                    <th>SKU</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var produto in Model)
                {

                    <!-- Produto Pai -->
                    @if(Model == null)
                    {
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Buscando os produtos...</span>
                        </div>
                    }
                    else
                    {
                        <tr class="table-light">
                            <td><span>@produto.id</span></td>
                            <td><span>@produto.name</span></td>
                            <td>
                                @if (produto.variations != null && produto.variations.Any())
                                {
                                    <span class="badge bg-info text-dark">Variável</span>
                                }
                                else
                                {
                                    <span class="badge bg-success">@produto.stock_quantity</span>
                                }
                            </td>
                            <td>@produto.sku</td>
                            <td></td>
                        </tr>

                        <!-- Variações -->
                        @if (produto.variationsProducts != null && produto.variationsProducts.Any())
                        {
                            foreach (var variacao in produto.variationsProducts)
                            {
                                <tr class="table-ligth">
                                    <td class="ps-4">↳ @variacao.id</td>
                                    <td>@variacao.name</td>
                                    <td>
                                        <span class="badge bg-primary">@variacao.stock_quantity</span>
                                    </td>
                                    <td>@variacao.sku</td>
                                    <td></td>
                                </tr>
                            }
                            <td><button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button></td>
                        }
                    }
                    
                }
            </tbody>
        </table>
    </div>
</div>

                    
